*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
header {
    background-color: #545454;
    display:flex;
    flex-direction: row;
    padding: 10px;
}